
@{
    ViewData["Title"] = "Таблиці";
}
<br />
<h1>Таблиці</h1>

<br />
<div class="flex flex-wrap justify-center gap-4 p-4">
    <a asp-action="Index" asp-controller="Books" class="btn btn-outline-info btn-lg" title="Index">
        Books
    </a>
    <a asp-action="Index" asp-controller="Authors" class="btn btn-outline-info btn-lg" title="Index">
        Authors
    </a>
    <a asp-action="Index" asp-controller="Publishers" class="btn btn-outline-info btn-lg" title="Index">
        Publishers
    </a>
    <a asp-action="Index" asp-controller="Genres" class="btn btn-outline-info btn-lg" title="Index">
        Genres
    </a>
    <a asp-action="Index" asp-controller="BookAuthors" class="btn btn-outline-info btn-lg" title="Index">
        BookAurhors
    </a>
    <a asp-action="Index" asp-controller="BookGenres" class="btn btn-outline-info btn-lg" title="Index">
        BookGenres
    </a>
</div>
